@charset "UTF-8";
body{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 17px;
	line-height:1.6;
}

.button{
	background: coral;
	padding: 1em 2em;
	color: #ffa;
	border: 0;
}
.button:hover{
	background: #300;
}

.modal{
	display:none;
	position:fixed;
	z-index:1;
	left: 0;
	bottom: 0;
	height: 45%;
	width: 20%;
	overflow: auto;
	background-color: rgba(0,0,0,0.5);
}

.modal-content{
		background-color: #f4f4f4;
		margin: 20% auto;
		padding: 20px;
		width: 75%%;
	
}

.clostBtn{
	color: #ccc;
	float: right;
	font-size: 40px
}

.closeBtn:hover, .closeBtn:focus{
	color: #000;
	text-decorations: none;
	cursor: pointer
		

}